:host {
	h3 {
		margin-top: 0;
	}

	.hide {
		display: none;
	}

	.section {
		max-width: 100%;
		padding: 1em;
	}

	// TODO: remove after markdown component is created
	::ng-deep .mat-form-field {
		width: 100%;
	}
}
