<div fxLayout="column">
	<tsk-readonly-field appearance="legacy" placeholder="Legacy Readonly:" value="Foobar"></tsk-readonly-field>
	<mat-form-field appearance="legacy">
		<mat-label>Legacy Input:</mat-label>
		<input matInput type="text" name="legacy" value="Foobar">
	</mat-form-field>
	<tsk-readonly-field appearance="standard" placeholder="Standard Readonly:" value="Foobar"></tsk-readonly-field>
	<mat-form-field appearance="standard">
		<mat-label>Standard Input:</mat-label>
		<input matInput type="text" name="standard" value="Foobar">
	</mat-form-field>
	<tsk-readonly-field appearance="fill" placeholder="Fill Readonly:" value="Foobar"></tsk-readonly-field>
	<mat-form-field appearance="fill">
		<mat-label>Fill Input:</mat-label>
		<input matInput type="text" name="fill" value="Foobar">
	</mat-form-field>
	<tsk-readonly-field appearance="outline" placeholder="Outline Readonly:" value="Foobar"></tsk-readonly-field>
	<mat-form-field appearance="outline">
		<mat-label>Outline Input:</mat-label>
		<input matInput type="text" name="outline" value="Foobar">
	</mat-form-field>
</div>
