<p>
	The client module aims to make setting up an Angular app as painless as possible. That means that instead of spending time
	setting up a filter algorithm for your autocomplete, you can focus on things like page layout and business logic.
</p>
<p>
	This module uses
	<a mat-button class="inline-button" color="primary" href="https://material.angular.io" target="_blank">Angular Material</a>
	for its design and animations and in many cases will simply extend what they already have. As it is a peer dependency, use of the
	material components should be available for use after importing the appropriate modules.
</p>
