<!-- apply themes to the full application -->
<div [ngClass]="themeClass">
	<!-- background layer used to keep a white spot from appearing when the user scrolls up past the app container -->
	<div class="mat-app-background app-background">
		<!-- container for the applications code that is styled for the given theme -->
		<div class="app-container">
			<!-- main navigation toolbar at the top of the page -->
			<mat-toolbar class="mat-elevation-z5 primary-nav" role="heading" color="primary">
				<a mat-button routerLink="/">{{ appTitle }}</a>
				<div class="flex-space"></div>
				<!-- theme selector -->
				<tsk-theme-select></tsk-theme-select>
				<tsk-autocomplete
					class="search-input"
					maxDisplayedOptions="7"
					placeholder="Search:"
					viewProperty="name"
					[formControl]="searchControl"
					[optionValues]="apiList$ | async"
					(selectedValueChange)="onSearch($event)">
				</tsk-autocomplete>
				<a mat-button href="https://github.com/DustinMEastway/tstack">
					<mat-icon svgIcon="github"></mat-icon>
					GitHub
				</a>
			</mat-toolbar>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
