<form [formGroup]="form">
	<div fxLayout="row wrap" fxLayoutGap="1em">
		<mat-form-field>
			<mat-label>Min</mat-label>
			<input matInput formControlName="min">
		</mat-form-field>
		<mat-form-field>
			<mat-select formControlName="includeMin">
				<mat-option [value]="true">&lt;=</mat-option>
				<mat-option [value]="false">&lt;</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Value</mat-label>
			<input matInput formControlName="value">
		</mat-form-field>
		<mat-form-field>
			<mat-select formControlName="includeMax">
				<mat-option [value]="true">&gt;=</mat-option>
				<mat-option [value]="false">&gt;</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Max</mat-label>
			<input matInput formControlName="max">
		</mat-form-field>
	</div>
	<div>{{ codeDisplay$ | async }}</div>
</form>
