// theme the application
@import "./styles-theme";
@import "../projects/client/src/lib/assets/theming";

@include tsk-core();

html {
	body {
		margin: 0;

		.content-container {
			margin: 1em;
		}

		.flex-space {
			display: flex;
			flex: 1 1 auto;
		}

		.inline-button {
			padding: 0;
		}
	}
}
