<mat-accordion>
	<mat-expansion-panel *ngFor="let property of properties" [disabled]="!property.examples?.length">
		<mat-expansion-panel-header>
			<mat-panel-title>{{ property.name }}</mat-panel-title>
			<mat-panel-description>{{ property.description }}</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-tab-group *ngFor="let example of property.examples">
  			<mat-tab [label]="example.name">
  				<pre>{{ example.content }}</pre>
  			</mat-tab>
		</mat-tab-group>
	</mat-expansion-panel>
</mat-accordion>
